/*https://kulturbanause.de/blog/css-grid-layout-module/  */
body {
    margin :0;
    padding:0;
}
html {
    font-family: "Lucida Sans", sans-serif;
}

.container {
    height: 100vh;
    display: grid; 
    grid-template-rows:90px 1fr 70px; 
    grid-template-columns:10% 10% 60% 20%; 
}

header { 
    grid-column-start:1; 
    grid-column-end:5; 
    grid-row-start:1; 
    grid-row-end:2; 
    background-color: #33b5e5;
    color: #ffffff;
    padding: 10px;
}
.menu1 {
    background: #fff;
    grid-column-start:1; 
    grid-column-end:2; 
    grid-row-start:2; 
    grid-row-end:3;
    padding: 15px;
}
.menu2{
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

article { 
    grid-column-start:3; 
    grid-column-end:4; 
    grid-row-start:2; 
    grid-row-end:3; 
    padding: 15px;
} 
aside { 
    grid-column-start:4; 
    grid-column-end:5; 
    grid-row-start:2; 
    grid-row-end:3;
    padding: 15px;
} 
footer { 
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    grid-column-start:1; 
    grid-column-end:5; 
    grid-row-start:3; 
    grid-row-end:4; 
}
